main#login-page,
main#change-password-page,
main#change-email-page {
  align-self: stretch;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    @media only screen and (max-width: 768px) {
      align-self: stretch;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      min-width: 400px;
      gap: 20px;

      @media only screen and (max-width: 768px) {
        min-width: auto;
      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 6px;

        font-weight: bold;

        input {
          padding: 8px;
        }
      }

      .error,
      .processing {
        margin-top: -10px;
      }
    }

    .forgot-password {
      align-self: flex-end;
    }

    form:has(.error:not(:empty))+a {
      margin-top: -20px;
    }
  }

  h2,
  h3 {
    text-align: center;
  }
}