main#rsvp-page {
  align-self: stretch;

  .form-wrapper {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 25px;

      min-width: 900px;
      max-width: 900px;

      @media only screen and (max-width: 768px) {
        align-self: stretch;
        min-width: auto;
      }

      fieldset {
        border: none;
      }

      >fieldset>legend>span.first-line,
      >label {
        font-weight: bold;
      }

      input[type="radio"],
      textarea {
        margin-top: 5px;
      }

      label:has(textarea) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
      }
    }
  }
}