main#faq-page {
  align-self: center;

  .items {
    gap: 10px;
    columns: 2;
    column-gap: 32px;
  }

  .item {
    break-inside: avoid;
    margin: 0 auto 20px;

    h2,
    p {
      text-align: center;
    }

    h2 {
      margin-bottom: 5px;
    }

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;
    }
  }

  #other-question {
    margin-top: 15px;
  }
}