.items {
  gap: 10px;
  max-width: 70vw;
  columns: 2;

  .item {
    width: 90%;
    break-inside: avoid;
    margin: 0 auto 20px;

    h2,
    p {
      text-align: center;
    }

    h2 {
      margin-bottom: 5px;
    }

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;
    }
  }
}