main#home-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "countdown countdown rsvp rsvp"
    "countdown countdown faq faq"
    "venue accommodation travel schedule";
  align-items: stretch;
  align-content: flex-start;
  justify-items: stretch;
  justify-content: stretch;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "countdown countdown"
      "rsvp faq"
      "venue accommodation"
      "travel schedule";
    overflow-y: auto;

    width: 100vw;
    padding-bottom: 0;
  }

  /* INTERNAL GRIDLINES START */
  --gap: 2px;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --line-color: black;
  overflow: hidden;
  gap: var(--gap);

  >div {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--line-color);
      z-index: 1;
    }

    &::after {
      /* inline-size: 100%; */
      inline-size: 100vw;
      block-size: var(--line-thickness);
      inset-inline-start: 0;
      inset-block-start: calc(var(--line-offset) * -1);
    }

    &::before {
      inline-size: var(--line-thickness);
      /* block-size: 100vh; */
      block-size: calc(100% + var(--gap));
      inset-block-start: 0;
      inset-inline-start: calc(var(--line-offset) * -1);
    }
  }

  /* INTERNAL GRIDLINES END */

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    @media only screen and (max-width: 768px) {
      padding: 15px 5px;
    }

    p,
    a {
      font-size: 1.1rem;
      font-weight: normal;
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 0.95rem;
      }
    }

    a {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--green);
      text-transform: uppercase;

      @media only screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  #countdown {
    grid-area: countdown;

    .number {
      font-size: 1.45rem;
      font-weight: bold;
      color: var(--green);
    }

    h2 {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    h1 {
      font-size: 1.8rem;
    }

    p#and {
      font-size: 1rem;
    }
  }

  #rsvp {
    grid-area: rsvp;
  }

  #faq {
    grid-area: faq;
  }

  #venue {
    grid-area: venue;
  }

  #accommodation {
    grid-area: accommodation;
  }

  #travel {
    grid-area: travel;
  }

  #schedule {
    grid-area: schedule;
  }
}