main#travel-page {
  .disclaimer {
    font-size: 1.15rem;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;

    width: 80%;


    @media only screen and (max-width: 768px) {
      width: auto;
    }

    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 10px;

      >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 20px;

        .subsection {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 10px;

          >div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 5px;
          }
        }
      }
    }
  }
}