main#travel-page {

  p,
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  .disclaimer {
    font-size: 1.15rem;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }

  .map {
    width: 600px;
    height: 450px;
    border: 1px solid black;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  >div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    width: 80%;


    @media only screen and (max-width: 768px) {
      width: auto;
    }

    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .subsection {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          >div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}