.gift-list {
  /* border-collapse: collapse; */

  th,
  td {
    padding: 5px 20px;

    text-align: left;

    &:last-child {
      text-align: center;
    }
  }

  a {
    display: block;
    width: fit-content;
  }

  .claimed-by-other {

    td,
    a {
      color: var(--text-disabled);
    }

    a {
      pointer-events: none;
    }
  }
}