main#schedule-page {
  @media only screen and (max-width: 1025px) {
    width: 100% !important;
  }

  p.remark {
    font-size: 1.2rem;
  }

  .timeline {
    position: relative;
    margin: 30px auto;
    width: 100%;
    font-size: 1.05rem;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      width: 2px;
      background-color: black;
    }

    @media only screen and (max-width: 1025px) {
      &::before {
        left: 10%
      }
    }

    .day-section {
      margin-bottom: 60px;

      &:first-of-type {
        margin-top: 10px;
      }

      .day-title {
        position: relative;
        width: 45%;

        font-size: 1.4rem;

        @media only screen and (max-width: 1025px) {
          width: 75%;
        }
      }

      .timeline-item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        margin: 20px 0;

        .time-label {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          white-space: nowrap;

          background-color: transparent;
          margin-top: 2px;

          @media only screen and (max-width: 1025px) {
            left: 10%;
            margin-top: 0;
          }

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 125%;

            background-color: rgb(247, 243, 239);
            z-index: -1;
          }
        }

        .timeline-content {
          position: relative;
          width: 45%;

          @media only screen and (max-width: 1025px) {
            width: 75%;
          }
        }
      }

      @media only screen and not (max-width: 1025px) {
        &:nth-of-type(2n) {
          .day-title {
            text-align: left;
            left: 55%;
          }

          .timeline-content {
            text-align: left;
            left: 0%;
          }
        }

        &:nth-of-type(2n + 1) {
          .day-title {
            text-align: right;
            right: 0%;
          }

          .timeline-content {
            text-align: right;
            right: 55%;
          }
        }
      }

      @media only screen and (max-width: 1025px) {
        .day-title {
          text-align: left;
          left: 25%;
        }

        .timeline-content {
          text-align: left;
          left: 0%;
        }
      }

    }
  }
}