main#venue-page {
  >div {
    grid-template-areas: 'photo-far photo-far intro1'
      'intro2 photo-outside photo-outside'
      'photo-inside photo-inside barn'
      'terrace photo-terrace photo-terrace'
      'photo-pond photo-pond pond';

    #intro1 {
      grid-area: intro1;
    }

    #intro2 {
      grid-area: intro2;
    }

    #barn {
      grid-area: barn;
    }

    #terrace {
      grid-area: terrace;
    }

    #pond {
      grid-area: pond;
    }

    #photo-far {
      grid-area: photo-far;
    }

    #photo-close {
      grid-area: photo-close;
    }

    #photo-outside {
      grid-area: photo-outside;
    }

    #photo-inside {
      grid-area: photo-inside;
    }

    #photo-terrace {
      grid-area: photo-terrace;
    }

    #photo-pond {
      grid-area: photo-pond;
    }

  }
}