main#venue-page {
  >div {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'photo-far photo-far intro1'
      'intro2 photo-outside photo-outside'
      'photo-inside photo-inside barn'
      'terrace photo-terrace photo-terrace'
      'photo-pond photo-pond pond';

    justify-items: center;
    align-items: center;
    column-gap: 45px;
    row-gap: 60px;

    p {
      font-size: 1.2rem;

      &:nth-last-of-type(2n) {
        text-align: right;
      }
    }

    img {
      width: auto;
      width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 2px;
    }

    #intro1 {
      grid-area: intro1;
    }

    #intro2 {
      grid-area: intro2;
    }

    #barn {
      grid-area: barn;
    }

    #terrace {
      grid-area: terrace;
    }

    #pond {
      grid-area: pond;
    }

    #photo-far {
      grid-area: photo-far;
    }

    #photo-close {
      grid-area: photo-close;
    }

    #photo-outside {
      grid-area: photo-outside;
    }

    #photo-inside {
      grid-area: photo-inside;
    }

    #photo-terrace {
      grid-area: photo-terrace;
    }

    #photo-pond {
      grid-area: photo-pond;
    }

  }
}