@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: 'RadleyDownloaded';
  src: url("./assets/fonts/Radley-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RadleyDownloaded';
  src: url("./assets/fonts/Radley-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DancingScriptDownloaded';
  src: url("./assets/fonts/DancingScript-VariableFont_wght.ttf") format('truetype');
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'BrittanySignature';
  src: url("./assets/fonts/BrittanySignature.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Radley, RadleyDownloaded, Arial, sans-serif;
}

p,
pre,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
label,
td,
th,
caption,
button {
  color: var(--text);
  background-color: transparent;
}

a {
  text-decoration: underline;
}

button {
  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: auto;
    }
  }
}

body {
  background-image: url("assets/images/background.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: top left;
}

html {
  font-size: 16px;
  height: 100vh;
  height: 100dvh;
}

#root {
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  /* overflow-y: scroll; */
  /* overflow-x: hidden; */

  --text: black;
  --green: #025839;
  --darkgreen: #01452c;
  --button-background: var(--green);
  --button-background-hover: var(--darkgreen);
  --button-background-disabled: grey;
  --radio: var(--green);
  --input-border: grey;
  --input-border-focus: black;

  header:has(nav.open)+main {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  main {
    align-self: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 50px;

    @media only screen and (max-width: 768px) {
      width: auto !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    h1 {
      font-size: 2.4rem;
      margin: 20px 0 20px;

      @media only screen and (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    h2 {
      @media only screen and (max-width: 768px) {
        font-size: 1.35rem;
      }
    }

    h3 {
      @media only screen and (max-width: 768px) {
        font-size: 1.15rem;
      }
    }

    form {
      font-size: 1.05rem;

      input[type="text"],
      input[type="password"],
      textarea {
        border-radius: 2px;
        border: 1px solid var(--input-border);
        font-size: 1.05rem;
        padding: 5px;

        &:focus {
          outline: 1px solid var(--input-border-focus);
        }

        &.auto-resize {
          resize: none;
          overflow: hidden;
        }
      }

      input[type="password"] {
        letter-spacing: 2px;
      }

      fieldset:has(> label > input[type="radio"]) {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }

      input[type="radio"] {
        accent-color: var(--radio);
        margin-right: 4px;

        &:focus,
        &:checked,
        &:hover {
          accent-color: var(--radio);
        }
      }

      button {
        border: none;
        border-radius: 2px;
        background-color: var(--button-background);
        color: white;
        font-size: 1.15rem;
        padding: 7px;

        &:hover {
          background-color: var(--button-background-hover);
        }

        &:disabled {
          background-color: var(--button-background-disabled);
        }
      }
    }

    &#venue-page,
    &#accommodation-page,
    &#post-wedding-page {
      >div {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(3, 1fr);

        justify-items: center;
        align-items: center;
        column-gap: 45px;
        row-gap: 60px;

        @media only screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 15px;
        }

        .section {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          gap: 20px;

          font-size: 1.2rem;

          @media only screen and not (max-width: 768px) {
            &:nth-of-type(2n) {
              p {
                text-align: right;
              }
            }
          }

          @media only screen and (max-width: 768px) {
            font-size: 1rem;
            margin-bottom: 25px;
            gap: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        img {
          width: auto;
          width: 100%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 2px;
        }
      }
    }

  }
}