header {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". title language"
    ". nav .";
  justify-content: space-between;

  .title {
    grid-area: title;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 30px 0 20px;

    .names {
      font-size: 3.25rem;
      word-spacing: 0.75rem;
      text-transform: uppercase;

      .ampersand {
        text-transform: none;
      }
    }

    .date {
      font-size: 1.25rem;
    }
  }

  .language {
    grid-area: language;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 10px;

    button {
      background-color: var(--background);
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  nav {
    grid-area: nav;
  }
}