header {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "language title account-buttons"
    "nav nav nav";
  justify-content: space-between;

  .title {
    grid-area: title;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    padding: 30px 0 20px;

    .names {
      font-size: 3.25rem;
      word-spacing: 0.75rem;
      text-transform: uppercase;

      .ampersand {
        text-transform: none;
      }
    }

    .date {
      font-size: 1.4rem;
    }
  }

  .language,
  .account-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

    button,
    a {
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .language {
    grid-area: language;

    align-items: flex-start;

    padding: 10px;
  }

  .account-buttons {
    grid-area: account-buttons;

    align-items: flex-end;

    padding: 10px;
  }

  nav {
    grid-area: nav;
  }
}