header {
  display: grid;

  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "language-button title account-buttons"
    "nav nav nav";
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    display: inline;

    &:not(:has(nav.open)) {
      border-bottom: 1px solid black;
    }
  }

  .title {
    grid-area: title;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
      "leaf-left names leaf-right"
      "leaf-left date leaf-right";
    align-items: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 10px;

    @media only screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "menu-button names ."
        ". date .";
      row-gap: 0;
      padding-bottom: 10px;
    }

    padding: 5px 0 0;

    .menu-button {
      grid-area: menu-button;

      display: flex;

      border: none;
      margin-left: 5px;

      @media only screen and not (max-width: 768px) {
        display: none;
      }

      img {
        height: 45px;
      }
    }

    .names {
      grid-area: names;
      align-self: end;

      font-size: 3.25rem;
      word-spacing: 0.75rem;
      text-transform: uppercase;
      text-align: center;

      @media only screen and (max-width: 768px) {
        align-self: center;

        font-size: 1.75rem;
      }

      .ampersand {
        text-transform: none;
      }
    }

    .date {
      grid-area: date;
      align-self: start;

      font-size: 1.4rem;
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
    }

    >img {
      height: 150px;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    #leaf-left {
      grid-area: leaf-left;

      rotate: -90deg;
    }

    #leaf-right {
      grid-area: leaf-right;

      rotate: 90deg;
      transform: scaleX(-1);
    }
  }

  .language-button,
  .account-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

    button,
    a {
      border: none;
      font-size: 1rem;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  >.language-button,
  >.account-buttons {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .language-button {
    grid-area: language-button;

    align-items: flex-start;

    padding: 10px;
  }

  .account-buttons {
    grid-area: account-buttons;

    align-items: flex-end;

    padding: 10px;

    .active {
      text-decoration: underline;
      color: var(--green);
      font-weight: bold;
    }
  }

  nav {
    grid-area: nav;
  }

  ul {
    list-style-type: none;
    text-transform: uppercase;
  }
}