nav {
  justify-self: center;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 15px;

  &.closed {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    padding: 20px 15px;
    border-bottom: none;
  }

  ul,
  ul.account-buttons,
  ul.language-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 1rem;
    padding: 0;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 15px;
    }

    a {
      text-decoration: none;
    }

    .active {
      text-decoration: underline;
      color: var(--green);
      font-weight: bold;
    }
  }

  ul.account-buttons,
  ul.language-button {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid black;
  }

  @media only screen and not (max-width: 768px) {

    ul.account-buttons,
    ul.language-button {
      display: none;
    }
  }
}