main#accommodation-page {
  >div {
    grid-template-areas: 'photo-tent-outside photo-tent-outside tent-intro'
      'tent-info photo-tent-inside photo-tent-inside'
      'photo-town photo-town hotel';

    #tent-intro {
      grid-area: tent-intro;
    }

    #tent-info {
      grid-area: tent-info;
    }

    #hotel {
      grid-area: hotel;
    }

    #photo-tent-outside {
      grid-area: photo-tent-outside;
    }

    #photo-tent-inside {
      grid-area: photo-tent-inside;
    }

    #photo-town {
      grid-area: photo-town;
    }
  }
}